{% include 'header.html' %}

<h1>Registrar nuevo usuario</h1>

<form method="post" action="/users/" enctype="multipart/form-data">

    <h3>Nombre</h3>
    <input type="text" name="name">

    <h3>Año</h3>
    <input type="number" name="year" min="1900" max="2024">


     <span class="nes-text is-success">Estado</span>

    <label>
  <input type="radio" class="nes-radio" name="status" checked />
  <span>Yes</span>
</label>

<label>
  <input type="radio" class="nes-radio" name="status" />
  <span>No</span>
</label>

    <span class="nes-text is-success">Imagen</span>

    <label class="nes-btn">
  <span>Select your file</span>
  <input type="file">
</label>

    <input type="submit" class="nes-btn is-success" value="Registrar usuario">


</form>

{% include 'footer.html' %}
