{% include 'header.html' %}

<h1>Registrar nuevo usuario</h1>

<form method="post" action="/users/" enctype="multipart/form-data">

    <h3>Nombre</h3>
    <input type="text" name="name">

    <h3>Año</h3>
    <input type="number" name="year" min="1900" max="2024">

    <h3>Estado</h3>
    <input type="radio" name="status" value="true" checked> Alive
    <input type="radio" name="status" value="false">Not Alive

    <h3>Imagen</h3>
    <input type="file" name="img" accept="image/*">

    <input type="submit" value="Registrar usuario">


</form>

{% include 'footer.html' %}
