{% include 'header.html' %}

<a href="/users/{{ user.id }}">Back {{ user.name }}</a>

<h1>Pets of {{ user.name }}</h1>


{% if pets %}
    {% for pet in pets %}
        <a href="/pets/{{ pet.id }}">
            <h3>{{ pet.name }}</h3>
            <h4>{{ pet.kind.value if pet.kind else 'Sin tipo' }}</h4>
            <h5>{{ pet.year }}</h5>
            {% if pet.alive %}
            <h6>Vivo</h6>
            {% else %}
            <h6>Fallecido</h6>
            {% endif %}
        </a>
    {% endfor %}
{% else %}
    <h3>{{ user.name }} no tiene mascotas registradas</h3>
{% endif %}

<a href="/pets/new?user_id={{ user.id }}">Agregar Mascota</a>

{% include 'footer.html' %}