<div class="card" style="width: 18rem;">

{% if show_link|default(True) %}
<a href="/users/{{ user.id }}">
{% endif %}
{% if user.img %}
<img src="{{ user.img }}" alt="{{ user.name }}"  class="card-img-top">
{% endif %}
<div class="card-body">
    <h5 class="card-title">User of the app</h5>
    <p class="card-text">{{ user.name }}</p>
  </div>

{% if user.status %}
<h4>Alive</h4>
{% else %}
<h4>Not Alive</h4>
{% endif %}
    {% if show_link|default(True) %}
</a>
{% endif %}
</div>





  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
